.file-input-wrapper{
    height: fit-content;
    margin-left: 3%;
    border-style: solid;
    padding: .5%;
}

.file-interface{
    align-content: center;
    display: flex;
    width: 25%;
}

.file-information{
    align-content: center;
    display: flex;
}

.parameters{
    margin-left: 4%;
}

.parameters1{
    margin-left: 4%;
    font-size: larger;
    vertical-align:middle;
    line-height: 3vh;
}

.file-wrapper{
    display: flex;
}