.file-input-wrapper{
    width: fit-content;
    height: fit-content;
    margin-left: 6%;
    border-style: solid;
    padding: .5%;
}

.file-interface{
    align-content: center;
    display: flex;
}

.file-information{
    align-content: center;
    display: flex;
}

.parameters{
    margin-left: 4%;
}

.file-wrapper{
    display: flex;
}